
.navlink {
  background-color: rgb(194, 216, 216);
  padding: 2px;
  margin: 0 3px;
  min-width: 42px;
  border-radius: 5px;
}

.navButtons {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
